.container {}
.container .icon-close {
    font-size: 30px;
    position: absolute;
    top: 10px;
    border: 1px solid #ddd;
    right: 20px;
    padding: 0 12px;
}
.container .timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    width: 130px;
    height: 130px;
    text-align: center;
    border: 4px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
}
.container .quistion{
    margin-bottom: 50px;
}
.container .answers{
      display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
    width: 100%;
}
.container .answers .answer{
    flex-basis:80%;
    border: 2px solid #aaa;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    transition: .3s;
}