.popup {
  position: absolute;
  background-color: #aaa;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(circle, #9a0aaa 0%, #034452 120%);
    transition: .3s;
    transform: scale(0.7);
    animation: scaling .1s ease-in-out alternate forwards;
}
.popup h1 {
    margin: 20px 0 0 0;
}
.popup p {
    margin-bottom: 10px;
}
button {
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  background-color: indianred;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

@keyframes scaling{
    from{
        transform: scale(0.7);
    }to {
        transform: scale(1);
    }
}
